<form [formGroup]="userForm">
	<div class="invite-user-main">
		<div class="invite-user-row">
			<img alt="user" src="../../../../../assets/images/icons/user.png">

			<div style="display: flex; flex-direction: row; justify-content: space-between; width: 100%;">
				<label>
					<input type="text"
						   placeholder="* First Name"
						   formControlName="firstName">
				</label>
				<label>
					<input type="text"
						   placeholder="* Last Name"
						   formControlName="lastName">
				</label>
			</div>
		</div>
		<div class="invite-user-row">
			<img alt="user" src="../../../../../assets/images/icons/email.png">

			<div style="display: flex; flex-direction: row; justify-content: space-between; width: 100%;">
				<label style="width: 100%;">
					<input type="text"
						   style="width: 100%;"
						   placeholder="* Email"
						   formControlName="email">
				</label>
			</div>
		</div>
		<div class="invite-user-row invite-user-row-left">
			<img alt="user" src="../../../../../assets/images/icons/key_black.png">

			<div style="display: flex; flex-direction: row; justify-content: space-between; width: 100%;">
				<label style="width: 100%;">
					<select formControlName="roleId" style="width: 50%;">
						<option *ngFor="let role of userService.getRoles()" [value]="role.id">
							{{role.name}}
						</option>
					</select>
				</label>
			</div>
		</div>
		<div class="invite-user-row invite-user-row-control">
			<button (click)="onSendUserInvitationClick()"
					[class.invite-user-confirm-disabled]="!userForm.valid"
					[disabled]="!userForm.valid">
				Send Invitation
			</button>
			<div *ngIf="userForm.touched || userForm.dirty"
				 [ngClass]="{'user-invite-valid': userForm.valid, 'user-invite-error': !userForm.valid}">
				{{getError()}}
			</div>
		</div>
	</div>
</form>
