.delete-user-main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100px;
}

.delete-user-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.delete-user-full-name {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;

	img {
		margin-right: 20px;
	}
}

.active {
	color: #44a0d3;
}

.inactive {
	color: #fd0d00;
}

button {
	background-color: #f79696;
	padding: 10px 20px 10px 20px;
	color: white;
	font: normal normal 600 16px/21px Segoe UI;
	border: none;
	border-radius: 20px;
	outline: none;
	cursor: pointer;
}
