<div class="user-profile-container">
	<div class="user-profile-left">
		<div style="text-align: center;">
			<img alt="avatar" src="../../../../assets/images/avatar.png">
		</div>
		<div class="user-profile-left-photo-upload">
			UPLOAD A PHOTO
		</div>
		<div class="user-profile-left-user-name">
			<div>
				{{user?.firstName}}
			</div>
			<div>
				{{user?.lastName}}
			</div>
		</div>
		<div class="user-profile-left-email">
			{{user?.email}}
		</div>
		<div style="text-align: center;">
			<button>
				Resend the invite
			</button>
		</div>
	</div>
	<div class="user-profile-center">
		<div class="user-profile-center-title">
			Details
		</div>
		<div class="user-profile-center-status">
			<app-toggle [isActive]="user?.isActive" (onChange)="onUserStatusChange($event)"></app-toggle>
			<div>
				The user is <span>
				{{user?.isActive ? 'Active' : 'Inactive'}}
			</span>
			</div>
		</div>
		<div>
			<form [formGroup]="userForm">
				<div>
					<label>
						<input type="text"
							   placeholder="* First Name"
							   formControlName="firstName">
					</label>
				</div>
				<div>
					<label>
						<input type="text"
							   placeholder="* Last Name"
							   formControlName="lastName">
					</label>
				</div>
				<div>
					<label>
						<select formControlName="roleId">
							<option *ngFor="let role of userService.getRoles()" [value]="role.id">
								{{role.name}}
							</option>
						</select>
					</label>
				</div>
				<div>
					<button (click)="onSaveUserChangesClick()" [disabled]="!userForm.valid">
						Save Changes
					</button>
					<!--					<div *ngIf="userForm.touched || userForm.dirty"-->
					<!--						 [ngClass]="{'user-invite-valid': userForm.valid, 'user-invite-error': !userForm.valid}">-->
					<!--						{{getError()}}-->
					<!--					</div>-->
				</div>
			</form>
		</div>
	</div>
	<div class="user-profile-right">
		<div class="user-profile-right-permissions">
			<div class="user-profile-right-permissions-title">
				Permissions
			</div>
			<div class="user-profile-right-permissions-role">
				{{user?.roleId ? userService.getRoleNameById(+userForm.get('roleId').value) : ''}}
			</div>
		</div>

		<div *ngFor="let permission of userService.getPermissionsWithoutGroup()"
			 class="user-profile-right-permission-list">
			<div class="user-profile-right-permissions-list-title">
				{{permission.name}}
			</div>
			<div>
				<app-toggle
					[isActive]="userService.getUserPermissionStatus(user, +userForm.get('roleId').value, permission.id)"
					(onChange)="onPermissionStatusChange(permission.id, $event)"></app-toggle>
			</div>
		</div>

		<div *ngFor="let permissionGroup of userService.getPermissionGroups(); index as i;">
			<div style="display: flex; flex-direction: row; justify-content: space-between;">
				<div (click)="content.style.display = content.style.display === 'none' ? 'block' : 'none'">
					<b>
						{{permissionGroup.name}}
					</b>
				</div>
				<div>
					<app-toggle
						[isActive]="userService.getUserPermissionGroupStatus(user, +userForm.get('roleId').value, permissionGroup.id)"
						(onChange)="onPermissionGroupStatusChange(permissionGroup.id, $event)"></app-toggle>
				</div>
			</div>
			<div #content [ngStyle]="{'display': i == 0 ? 'block' : 'none'}">
				<div *ngFor="let permission of userService.getPermissions(permissionGroup.id)">
					<div style="display: flex; flex-direction: row; justify-content: space-between;">
						<div>
							{{permission.name}}
						</div>
						<div>
							<app-toggle
								[isActive]="userService.getUserPermissionStatus(user, +userForm.get('roleId').value, permission.id)"
								(onChange)="onPermissionStatusChange(permission.id, $event)"></app-toggle>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
