.user-profile-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.user-profile-left {
	display: flex;
	flex-direction: column;
	width: 20%;
}

.user-profile-left-photo-upload {
	text-align: center;
	margin-top: 10px;
	font: normal normal 300 14px/19px Segoe UI;
	color: #B0ACAC;
}

.user-profile-left-user-name {
	margin-top: 30px;

	div {
		font: normal normal 600 48px/48px Segoe UI;
		color: #000000;
		text-align: center;
	}
}

.user-profile-left-email {
	font: normal normal 300 14px/21px Segoe UI;
	color: #000000;
	text-align: center;
	margin-top: 20px;
}

.admin-badge {
	width: 60px;
	position: absolute;
	height: 35px;
	background-color: #7E7EF1;
	border-radius: 30px;
	margin-left: 190px;
	margin-top: 150px;
	margin-right: 20px;

	img {
		width: 20px;
		height: 20px;
		padding: 7px;
	}
}

.resend-invite-button {
	margin-top: 50px;
	width: 180px;
	background-color: #7e7ef1;
	padding: 10px 20px 10px 20px;
	color: white;
	font: normal normal 600 14px/21px Segoe UI;
	border: none;
	border-radius: 20px;
	outline: none;
	cursor: pointer;
}

//

.user-profile-center {
	display: flex;
	flex-direction: column;
	width: 30%;
}

.user-profile-center-title {
	text-align: left;
	font: normal normal 600 36px/48px Segoe UI;
	letter-spacing: 0;
	color: #000000;
}

.user-profile-center-status {
	display: flex;
	flex-direction: row;
	margin-top: 40px;

	div {
		font: normal normal 300 16px/21px Segoe UI;

		span {
			font: normal normal bold 16px/21px Segoe UI;
		}
	}
}

.user-profile-center-status {
	div:first-child{
		margin-left: -50px;
		margin-right: 10px;
	}
}

.form {
	margin-top: 40px;
}

.form-row {
	margin-bottom: 40px;

	label {
		width: 100%;

		input, select {
			width: 70%;
		}
	}
}

input, select {
	box-sizing: border-box;
	border: none;
	border-bottom: 2px solid #c6c6c6;
	background-color: transparent;
	font-size: 16px;
}

input:focus, select:focus {
	outline: none;
}

.user-form-control {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 156px;
}

.save-changes-button {
	width: 150px;
	background-color: #44A0D3;
	padding: 10px 20px 10px 20px;
	color: white;
	font: normal normal 600 14px/21px Segoe UI;
	border: none;
	border-radius: 20px;
	outline: none;
	cursor: pointer;
}

//

.user-profile-right {
	display: flex;
	flex-direction: column;
	width: 30%;
}

.user-profile-right-permissions {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.user-profile-right-permissions-title {
	font: normal normal 600 36px/48px Segoe UI;
	letter-spacing: 0;
	color: #000000;
}

.user-profile-right-permissions-role {
	font: normal normal 300 16px/21px Segoe UI;
	letter-spacing: 0;
	color: #000000;
}

.user-profile-right-permission-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.user-profile-right-permission-list-title {
	font: normal normal bold 16px/21px Segoe UI;
	letter-spacing: 0px;
	color: #000000;
}
