<div class="user-profile-container">
	<div class="user-profile-left">
		<div style="text-align: center;">
			<div *ngIf="user?.roleId === 1" class="admin-badge">
				<img alt="key" src="../../../../assets/images/icons/key_white.png">
			</div>
			<img alt="avatar" src="../../../../assets/images/avatar.png">
		</div>
		<div class="user-profile-left-photo-upload" [class.text-transparent]="!user?.isActive">
			UPLOAD A PHOTO
		</div>
		<div class="user-profile-left-user-name" [class.user-inactive-mask]="!user?.isActive">
			<div>
				{{user?.firstName}}
			</div>
			<div>
				{{user?.lastName}}
			</div>
		</div>
		<div class="user-profile-left-email" [class.user-inactive-mask]="!user?.isActive">
			{{user?.email}}
		</div>
		<div style="text-align: center;">
			<button *ngIf="user?.isActive" class="resend-invite-button">
				Resend the invite
			</button>
		</div>
	</div>
	<div class="user-profile-center">
		<div class="user-profile-center-title">
			Details
		</div>
		<div class="user-profile-center-status">
			<div>
				<app-toggle [isActive]="user?.isActive" (onChange)="onUserStatusChange($event)"></app-toggle>
			</div>
			<div>
				The user is <span>
				{{user?.isActive ? 'Active' : 'Inactive'}}
			</span>
			</div>
		</div>
		<form [formGroup]="userForm">
			<div class="form" [class.user-inactive-mask]="!user?.isActive">
				<div class="form-row">
					<label for="firstName" class="form-field-label"
						   [class.text-transparent]="!userForm.get('firstName').value">
						* First Name
					</label>
					<input type="text"
						   class="form-field"
						   [class.form-field-error-border]="hasError('firstName')"
						   id="firstName"
						   placeholder="* First Name"
						   formControlName="firstName">
					<div class="form-field-error" [class.text-transparent]="!hasError('firstName')">
						Field is required
					</div>
				</div>
				<div class="form-row">
					<label for="lastName" class="form-field-label"
						   [class.text-transparent]="!userForm.get('lastName').value">
						* Last Name
					</label>
					<input type="text"
						   class="form-field"
						   [class.form-field-error-border]="hasError('lastName')"
						   id="lastName"
						   placeholder="* Last Name"
						   formControlName="lastName">
					<div class="form-field-error" [class.text-transparent]="!hasError('lastName')">
						Field is required
					</div>
				</div>
				<div class="form-row">
					<label for="roleId" class="form-field-label"
						   [class.text-transparent]="!userForm.get('roleId').value">
						* Role
					</label>
					<select formControlName="roleId"
							id="roleId"
							class="form-field"
							[class.form-field-error-border]="hasError('roleId')">
						<option *ngFor="let role of userService.getRoles()" [value]="role.id">
							{{role.name}}
						</option>
					</select>
					<div class="form-field-error" [class.text-transparent]="!hasError('roleId')">
						Field is required
					</div>
				</div>
				<div class="user-form-control">
					<button *ngIf="user?.isActive"
							(click)="onSaveUserChangesClick()"
							[class.save-changes-disabled]="!userForm.valid"
							class="save-changes-button"
							[disabled]="!userForm.valid">
						Save Changes
					</button>
				</div>
			</div>
		</form>
	</div>
	<div class="user-profile-right">
		<div class="user-profile-right-permissions">
			<div class="user-profile-right-permissions-title">
				Permissions
			</div>
			<div class="user-profile-right-permissions-role" [class.user-inactive-mask]="!user?.isActive">
				{{user?.roleId ? userService.getRoleNameById(+userForm.get('roleId').value) : ''}}
			</div>
		</div>

		<ng-container *ngFor="let permission of userService.getPermissionsWithoutGroup()">
			<div class="user-profile-right-permission-list" [class.user-inactive-mask]="!user?.isActive">
				<div class="user-profile-right-permissions-list-title">
					{{permission.name}}
				</div>
				<div>
					<app-toggle
						[isActive]="userService.getUserPermissionStatus(user, +userForm.get('roleId').value, permission.id)"
						(onChange)="onPermissionStatusChange(permission.id, $event)"></app-toggle>
				</div>
			</div>
			<div class="permission-row-separator">
				<div></div>
			</div>
		</ng-container>

		<ng-container *ngFor="let permissionGroup of userService.getPermissionGroups(); index as i;">
			<div [class.user-inactive-mask]="!user?.isActive">
				<div class="permission-container">
					<div class="permission-group-header"
						 (click)="content.style.display = content.style.display === 'none' ? 'block' : 'none'; expand.className = content.style.display === 'none' ? '' : 'permission-group-expand-icon-rotated'">
						<img #expand
							 [ngClass]="{'permission-group-expand-icon-rotated': i === 0}"
							 alt="expand"
							 src="../../../../assets/images/icons/arrow_down.png">
						<b>
							{{permissionGroup.name}}
						</b>
					</div>
					<div>
						<app-toggle
							[isActive]="userService.getUserPermissionGroupStatus(user, +userForm.get('roleId').value, permissionGroup.id)"
							(onChange)="onPermissionGroupStatusChange(permissionGroup.id, $event)"></app-toggle>
					</div>
				</div>
				<div #content [ngStyle]="{'display': i === 0 ? 'block' : 'none', 'margin-top': '30px'}">
					<div *ngFor="let permission of userService.getPermissions(permissionGroup.id)">
						<div class="permission-container">
							<div class="permission-row-name">
								<span class="circle"
									  [ngStyle]="{'color': userService.getUserPermissionStatus(user, +userForm.get('roleId').value, permission.id) ? '#44a0d3' : '#fd0d00'}"></span>
								<span
									[ngStyle]="{'font-weight': userService.getUserPermissionStatus(user, +userForm.get('roleId').value, permission.id) ? 'bold' : ''}">
									{{permission.name}}
								</span>
							</div>
							<div>
								<app-toggle
									[isActive]="userService.getUserPermissionStatus(user, +userForm.get('roleId').value, permission.id)"
									(onChange)="onPermissionStatusChange(permission.id, $event)"></app-toggle>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="permission-row-separator">
				<div></div>
			</div>
		</ng-container>

	</div>
</div>
