.user-view-main {
	display: flex;
	flex-direction: column;
}

.user-view-table-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.user-view-table-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

//

.user-view-table-avatar-column, .user-view-table-avatar-header {
	width: 4%;
}

.user-view-table-user-header,
.user-view-table-user-column,
.user-view-table-role-header,
.user-view-table-role-column,
.user-view-table-status-header,
.user-view-table-status-column,
.user-view-table-actions-header,
.user-view-table-actions-column {
	width: 24%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.user-view-table-user-header, .user-view-table-user-column {
	text-align: left;
}

.user-view-table-sort, .user-view-table-sort-rotated {
	cursor: pointer;

	img {
		padding: 2px;
	}
}

.user-view-table-sort-rotated {
	transform: rotate(180deg);
}

.user-view-table-user-column {
	div {
		display: flex;
		flex-direction: column;
	}
}

.user-view-table-role-column {
	div {
		display: flex;
		flex-direction: row;
		justify-content: center;

		div {
			display: flex;
			flex-direction: row;

			div {
				width: 40px;
				height: 25px;
				background-color: #7E7EF1;
				border-radius: 30px;
				margin-right: 20px;

				//img {
				//	width: 50%;
				//}
			}
		}
	}
}

.user-view-table-status-column {
	img {
		width: fit-content;
	}
}

.user-view-table-actions-header, .user-view-table-actions-column {
	text-align: right;
}

.user-view-table-actions-column {
	div {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;

		img {
			cursor: pointer;
		}

		img:first-child {
			content: url('../../../../assets/images/icons/settings_mini_grey.png');
			margin-right: 10px;
			width: 20px;
			height: 20px;
		}

		img:first-child:hover {
			content: url('../../../../assets/images/icons/settings_mini_blue.png');
		}

		img:last-child {
			content: url('../../../../assets/images/icons/delete_mini_grey.png');
			width: 20px;
			height: 20px;
		}

		img:last-child:hover {
			content: url('../../../../assets/images/icons/delete_mini_red.png');
		}
	}
}

//

.user-view-header-separator, .user-view-row-separator {
	display: flex;
	justify-content: flex-end;

	margin-bottom: 20px;
	margin-top: 20px;

	div {
		width: 96%;
		height: 2px;
		background-color: #00000029;
	}
}

.user-view-row-separator {
	opacity: 0.5;
}

//

.user-view-inactive {
	opacity: 0.3;
}

.user-view-inactive-key {
	background-color: #dbdbdb !important;
}

//

.user-view-paging {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	margin-top: 20px;
	margin-bottom: 30px;
}

.user-view-paging-page-size, .user-view-paging-page {
	width: 48%;
	select {
		border: none;
		color: #000000;
		font: normal normal bold 16px/21px Segoe UI;
	}
}

.user-view-paging-page {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;

	div {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;


		div {
			margin-left: 10px;
			margin-right: 10px;
		}
	}
}

.user-view-paging-page-previous, .user-view-paging-page-next {
	display: flex;
	flex-direction: column !important;
	justify-content: center !important;
	text-align: center;

	cursor: pointer;
}

.user-view-paging-page-number {
	display: flex;
	flex-direction: column !important;
	justify-content: center !important;
	text-align: center;

	width: 30px;
	height: 30px;

	cursor: pointer;
	font: normal normal bold 16px/21px Segoe UI;
}

.user-view-paging-page-number-selected {
	background-color: #c6c6c6;
	box-shadow: 0 3px 6px #00000029;
	border-radius: 4px;
}

.user-view-paging-page-number-disabled {
	opacity: 0.3;
}
